 * {
	margin: 0;
	padding: 0px;
	font-family: 'Roboto Slab', serif;
	box-sizing: border-box;
}

.logo {
	text-align: center;
	margin: 0 auto;
	padding: 5px;


}

.nav-links {
	background: #0077b6;
	text-align: center;
	font-size: 21px;
	font-weight: bold;
}

.nav-links ul li {
	list-style: none;
	padding: 10px 10px;
	display: inline-block;
	position: relative;
}

.nav-links ul li a {
	color: white;
	text-decoration: none;
	font-size: 14px;
}

.banner {
	width: 100%;
	height: 30rem;
	background: url('../images/banner/banner 2.png');
	background-repeat: no-repeat;
	background-size: auto;
	position: relative;
  }

.text-block {
	width: 80%;
	position: absolute;
	top: 50%;
	left: 50%;	
	text-align: center;
	transform: translate(-50%,-50%);
	color: black;
}

.text-block h1 {
	font-size: 45px
}

.text-block p {
	font-size: 20px;
}

.Primary-Btn {
	display: inline-block;
	text-decoration: none;
	padding: 10px;
	border: 1px solid black;
	color: black;
	position: relative;
	font-size: 18px;
	background: transparent;
	margin: 20px 0px 0px 0px;
	font-weight: bold;
	border-radius: 6px;
}

.Primary-Btn:hover {
	background: #0077b6;
	border: 2px solid #0077b6;
	transition: 2s;
} 

.Secondary-Btn {
	display: inline-block;
	text-decoration: underline;
	padding: 10px;
	color: black;
	position: relative;
	font-size: 18px;
	background: transparent;
	margin: 20px 0px 0px 0px;
	font-weight: bold;
	border-radius: 6px;
}

.Secondary-Btn:hover {
	background: #0077b6;
	transition: 2s;
} 

nav .fas {
	display: none;
}

@media (max-width: 768px) {
	nav .fas {
		display: inline-block;
	}

	/* for bars icon */
	.fa-bars {
		position: absolute;
		left: 10px;
		top: 28px;
		font-size: 22px;
		color: #0077b6;	
		cursor: pointer;
	}

	.text-block h1 {
	padding: 30px;
	font-size: 28px;
	}

	.nav-links ul li {
		display: block;
	}	

/* navigation for mobiles */
	.nav-links {
	position: absolute;
	background: #0077b6;
	width: 200px;
	height: 100vh;
	text-align: left;
	z-index: 2;
	top: 0;
	left: -200px;
	transition: 1s;	
	}

/* for cross icon */
	.fa-times {
		display: block;
		color: white;
		margin: 10px;
		font-size: 22px;
		cursor: pointer;
	}

}

/* Start Grid System */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.row::after {
	content: "";
	clear: both;
	display: table;
}

[class*="col-"] {
	float: left;
	padding: 15px;
	border: 1px  
}

.container {
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
	text-align: justify;
}

.img-responsive {
	text-align: center;
	size: 10rpm;
}

@media (max-width: 468px) {
	.container {
		width: 450px;
	}
}
@media (max-width: 992px) {
	.container  {
		width: 950px;
	}
}
@media (max-width: 1200px) {
	.container  {
		width: 1150px;
	}
}

/* ENd Grid System */

.heading-1 {
	text-align: center;
	padding: 20px 0px 20px 0px; 
}

.text-center {
	text-align: justify;
	font: bold;
}

.text-head {
	text-align: center;
}

.add {
	background: #093b55;
	background-size: auto;
	padding: 10px 0;
	margin: 0;
}

.img-responsive {
  max-width: 100%; /* Ensures the image is responsive */
  height: auto; /* Preserves the aspect ratio */
}

footer {
	background-color: #0077b6;
	padding: 80px 0px;
	color: white;
}

.footer-menu li {
	list-style: none;
	padding: 10px 10px;
	display:block;
	position: relative;
	width: auto;
}

footer h3 {
	padding-bottom: 20px;
}

.footer-menu li a {
	color: white;
	text-decoration: none;
	font-weight: bolder;
}

.copyright {
	background-color: #093b55;
	font-style: italic;
	color: white;
	padding: 16px 0px;
	text-align: center;
	border: #093b55;
	border-style: dashed;
}

.inner-banner {
	width: 100%;
	height: 80vh;
	background: url('../images/3.jpg');
	background-repeat: no-repeat;
	background-size: auto;
	position: relative;	
	padding: 10px;
}

.main-part {
	text-align: center;
	padding: 20px;
}

.p40 {
	padding: 40px;
	text-align: justify;
}

.product_name {
	text-align: center;
	text-decoration: underline;
	font-size: 30px;
}

.ingredients {
	text-align: center;
	font-size: 20px;
	font-style: italic;
	color: #0077b6;
	background: transparent;
	border: 1px #0077b6;
}

.Third-Btn {
	display: inline-block;
	text-decoration: none;
	padding: 12px 20px;
	color: black;
	border: 1px solid black;
	position: relative;
	font-size: 18px;
	background:#0077b6;
	margin: 20px 0px 0px 0px;
	font-weight: bold;
	border-radius: 6px;
}

.Third-Btn:hover {
	background: white;
	border: 1px solid;
	transition: 2s;
}

.product-detail:hover {
	border: 1px solid #ccc;
	transition: 2s;
}

input[type=text] {
	width: 100%;
	padding: 12px 20px;
	margin: 9px 0;
	box-sizing: border-box;	
}

textarea {
	width: 100%;
	height: 200px;
	padding: 12px 20px;
	margin: 9px 0;
	box-sizing: border-box;
}

.table {
	text-align: left;
}

input[type=submit] {
	display: inline-block;
	text-decoration: none;
	padding: 12px 20px;
	color: black;
	border: 1px solid black;
	position: relative;
	font-size: 18px;
	background:#0077b6;
	margin: 20px 0px 0px 0px;
	font-weight: bold;
	border-radius: 6px;
	cursor: pointer;
}


	
